.spider_section{
	padding: 55px 0 5px;


	.spider_inner{
		position: relative;
		padding: 90px 0 90px;

		img{
			
			@media(max-width:1199px){
				width: 375px;
			}
			@media(max-width:991px){
				width: 325px;
			}

			@media(max-width:767px){
				max-width: 90%;
			}
				@media(max-width:575px){
					width: 280px;
				}
				@media(max-width:480px){
					max-width: 55%;
				}
		}

		.spider_box{
			position: absolute;
			text-align: center;

			span{
				display: block;
			    width: 50px;
			    height: 50px;
			    border: 2px solid;
			    line-height: 3;
			    border-radius: 10px;
			    /*transform: rotate(45deg);*/
			    @include transform(rotate(45deg));
			    margin: 0px auto 20px;
				@media(max-width:1199px){
					width: 40px;
   					height: 40px;
   					line-height: 34px;
   					margin: 0px auto 10px;
				}
				@media(max-width:575px){
					width: 35px;
   					height: 35px;
   					line-height: 30px;
   					margin: 0px auto 8px;
				}
				@media(max-width:480px){
					width: 26px;
   					height: 26px;
   					line-height: 18px;
   					margin: 0px auto 5px;
				}

			    .fas{
			    	@include transform(rotate(-45deg));

				@media(max-width:480px){
					font-size: 12px;
				}

			    }
			}

			b{
				@extend %peratext;
				color: #2b2b2b;
				@media(max-width:575px){
					font-size: 12px;
				}
				@media(max-width:480px){
					font-size: 10px;
				}
			}
		}

		.red.top.left{
			/*top: 15%;
		    left: 22%;
		    transform: translate(-15%, -22%);*/
		    top: 0px;
    		left: 25%;
				@media(max-width:1399px){
					top: -10px;
					left: 20%;
				}
				@media(max-width:991px){
					top: -10px;
    				left: 14%;
				}
				@media(max-width:575px){
					top: 0px;
    				left: 7%;
				}
				@media(max-width:480px){
					top: 16px;
    				left: 7%;
				}
			}

		.red.bottom.right{
			    /*bottom: 6%;
			    right: 25%;
			    transform: translate(6%, 25%);*/
			        bottom: 0px;
    				right: 25%;
				@media(max-width:1399px){
					bottom: -20px;
   					right: 20%;
				}
				@media(max-width:991px){
					bottom: -14px;
    				right: 14%;
				}
				@media(max-width:575px){
					bottom : 0px;
    				right: 7%;
				}
				@media(max-width:480px){
					bottom: 10px;
    				right : 10%;
				}
			}


		.blue.left.bottom{
			   /* bottom: 6%;
			    left: 22%;
			    transform: translate(-6%, 22%);*/
			    bottom: 0px;
    			left: 25%;
				@media(max-width:1399px){
					bottom: -20px;
   					left: 20%;
				}
					@media(max-width:991px){
						bottom: -14px;
   						 left: 14%;
					}
				@media(max-width:575px){
					bottom: 0px;
    				left: 7%;
				}
				@media(max-width:480px){
					bottom: 10px;
    				left: 7%;
				}
			}

		.blue.right.top{
			    /*top: 15%;
			    right: 22%;
			    transform: translate(-15%, -22%);*/
			    top: 0px;
    			right: 25%;
				@media(max-width:1399px){
					top: -10px;
					right: 20%;
				}
					@media(max-width:991px){
						top: -10px;
    					right: 14%;
					}
				@media(max-width:575px){
					top: 0px;
    				right: 7%;
				}
				@media(max-width:480px){
					top: 16px;
    				right: 7%;
				}
			}

		.green.middle.left{

			    /*left: 8%;
			    bottom: 42%;
			    transform: translate(-8%, 42%);*/
			    bottom: 45%;
			    /*transform: translateY(45%);*/
			    @include transilatey(45%);
			    left: 10%;
				@media(max-width:1399px){
					bottom: 47%;
   					/*transform: translateY(47%);*/
   					@include transilatey(47%);
				}
						@media(max-width:991px){
							bottom: 45%;
						    /*transform: translateY(45%);*/
						    @include transilatey(45%);
						    left: 0%;
						}

			}

		.green.middle.right{

			/*right: 8%;
		    bottom: 45%;
		    transform: translate(8%, 40%);*/
		    	bottom: 45%;
			    /*transform: translateY(45%);*/
			    @include transilatey(45%);
			    right: 10%;
				@media(max-width:1399px){
					bottom: 47%;
   					/*transform: translateY(47%);*/
   					@include transilatey(47%);
				}
					@media(max-width:991px){
						bottom: 45%;
						    /*transform: translateY(45%);*/
						    @include transilatey(45%);
						    right: 0%;
					}
			}

			.red{
				

				.fas{
					color: $red;
				}

			}

			.green{
				
				.fas{
					color: $green;
				}
			}

			.blue{
				
				.fas{
					color: $blue;
					border-color: $blue;
				}
			}

			.blue-border{
				border-color: $blue!important;
			}

			.green-border{
				border-color: $green!important;
			}

			.red-border{
				border-color: $red!important;
			}
		

	}


}